.cards{
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

hr{
    border-top: 2px solid rgb(235, 135, 218);
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

h1{
    text-align: center;
}